* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}


/* Navbar */
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    font-family: cursive !important;
} 

a:hover {
    opacity: 0.7;
  }


#cadastro {
    color: black;
    background-color: white;
}

#entrar {
    background-color: black;
    color: white;
}

#meuPerfil {
    background-color: black;
    color: white;
}

.centro {
    margin: 0 auto;
    display: flex;
}

#linkMenu>a {
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
}

.container-fluid> :first-child {
    font-size: 25px;

}


main {
    margin-top: 70px;
    display: flex;
    padding: 20px;
}

.filtros {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 20px;
}

.vagas {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.vaga {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vaga h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.vaga p {
    margin-bottom: 15px;
}

.header a{
    letter-spacing: 3px !important;
    margin-left: 32px !important;
}

footer p{
    letter-spacing: 3px;
    margin-left: 32px;
}

.saiba-mais {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
    color: white;
    position: fixed;
    font-family: cursive;
}
