/*Inicio - Configuração Header*/
* {
    padding: 0px;
    margin: 0px;
}



.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    font-family: cursive;
} 

a:hover {
    opacity: 0.7;
  }

.header a{
    letter-spacing: 3px !important;
    margin-left: 32px !important;
}

footer p{
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: cursive;
}

#cadastro {
    color: black;
    background-color: white;
}

#entrar {
    background-color: black;
    color: white;
}

#meuPerfil {
    background-color: black;
    color: white;
}

.centro {
    margin: 0 auto;
    display: flex;
}

#linkMenu>a {
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    
}

#logo {
    font-size: 25px;
    
  }
  

a:hover {
    opacity: 0.7;
  }

/*Fim - Configuração Header*/




/*Inicio Configuração Footer*/
footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-family: cursive;
}
