* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}


/* Navbar */
a:hover{
    opacity: 0.7;
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
} 

.header a{
    letter-spacing: 3px ;
    margin-left: 32px ;
}

#cadastro {
    color: black ;
    background-color: white ;
}

#entrar {
    background-color: black ;
    color: white ;
}

#meuPerfil {
    background-color: black ;
    color: white ;
}

footer p{
    letter-spacing: 3px;
    margin-left: 32px;
}

.centro {
    margin: 0 auto;
    display: flex;
}

#linkMenu>a {
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
}

.container-fluid> :first-child {
    font-size: 25px;

}


main {
    padding: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

.detalhes-vaga {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



img {
    width: 500px;
  
}

.vaga-informacoes {
    flex: 1;
    margin-left: 20px;
}

.vaga-informacoes h3 {
    margin-bottom: 10px;
}

.vaga-informacoes p {
    margin-bottom: 15px;
}

#interessar {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.header a{
    letter-spacing: 3px !important;
    margin-left: 32px !important;
}

footer {
    text-align: center;
    padding: 2px;
    width: 100%;
    bottom: 0;
    color: white;
    position: fixed;
}

footer p {
    letter-spacing: 3px;
    margin: 0; /* Remover a margem à esquerda */
    width: 100%; /* Garante que o parágrafo ocupe toda a largura */
}

@media screen and (max-width: 600px) {

    #meuPerfil {
        background-color: transparent;
        color: white !important;
    }

    #cadastro {
        color: white ;
        background-color: transparent ;
    }

    #entrar{
        color: white ;
        background-color: transparent ;
    }
    #sair{
        background-color: transparent !important;
        color: white !important;
    }

    #meuPerfil{
        background-color: transparent !important;
        color: white !important;
    }
}